.register-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}
.register-label {
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
  width: 30%; /* set the label width to 30% */
}
.register-container {
  max-width: 60%; /* set the max-width to 70% */
  margin: 40px auto; /* add auto margin to center the container */
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.register-input {
  width: 70%; /* set the input field width to 70% */
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.register-button{
    height: 50px;
    width: 80px;
    background-color: greenyellow;
}