.search_input {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  padding: 10px 20px;
  border-radius: 999px;
  width: 75vw;
  margin: 0 auto;
  margin-top: 35px;
  max-width: 560px;
  box-shadow: 0 2px 4px 0 rgba(95, 99, 104, 0.4);
  height: 25px;
}

.search_input > input {
  flex: 1;
  padding: 10px 20px;
  font-size: medium;
  border: none;
}

.search_input_mic {
  height: 27px;
  width: 28px;
  object-fit: contain;
  margin-right: 10px;
}

.search_input_googlelens {
  height: 20px;
  width: 20px;
  object-fit: contain;
  margin-right: 5px;
}

.search_input_mic:hover {
  cursor: pointer;
}

.search_input_googlelens:hover {
  cursor: pointer;
}

.search_input > input:focus {
  outline-width: 0;
}

.search_inputIcon {
  color: gray;
}

.search_buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.search_buttons button {
  margin: 5px;
  padding: 7px 15px;
  background-color: #f8f8f8;
  border: 1px solid white;
  text-transform: inherit;
  color: #5f6368;
}

.search_buttons button:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
  color: #222;
}

.search_buttonsHidden {
  display: none !important;
}

@media only screen and (min-width: 250px) and (max-width: 400px) {
  .search_input {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    padding: 9px 15px;
    border-radius: 999px;
    width: 83vw;
    margin: 0 auto;
    margin-top: -26px;
    max-width: 566px;
    box-shadow: 0 2px 4px 0 rgba(95, 99, 104, 0.4);
    height: 23px;
    margin-left: 4px;
  }
  .search_input > input {
    flex: 1 1;
    padding: 6px 20px;
    font-size: 14px;
    border: none;
  }
  .search_buttons {
    margin-top: 19px;
    display: flex;
    justify-content: center;
}
}
